* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    padding-top: 3%;
    transition: background-color 0.3s linear, color 0.3s linear;
}

/* Themes for body */
.standard {
    background-image: linear-gradient(100deg, #575656, #062e3f);
    color: #ffdfdb;
}

.light {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
    color: #1a150e;
}

.darker {
    background-image: linear-gradient(100deg, #001214, #001f29);
    color: white;
}

/* Header */
h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* Form styling */
form {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    padding: 0.8rem;
    width: 100%;
    max-width: 600px;
}

form input {
    padding: 10px;
    font-size: 1rem;
    border:rgb(from 0 to 255, from 0 to 255, from 0 to 255);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 500px;
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
    width: 100%;
}

/* Button styling */
form button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
}

button:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

/* To-Do List styling */
#taskList {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 20px;
    transition: background-color 200ms ease-in-out;
    font-size: 1.1rem;
}

.task-item span {
    flex: 1;
    margin-right: 10px;
    overflow-wrap: anywhere;
}

/* Completed task styling */
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

/* Buttons for each task item */
.task-item button {
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 50%;
    margin-left: 5px;
    width: 2em;
    height: 2em;
    cursor: pointer;
}



/* Icon Button Styling */
.icon-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.8rem;
    transition: color 0.2s ease-in-out;
}


.icon-button .fa-check {
    color: #28a745;
}

.icon-button .fa-edit {
    color: #ffc107;
}

.icon-button .fa-trash-alt {
    color: #dc3545;
}

/* save and cancel button */
.save-button {
    color: #28a745; /* Green for Save */
}

.save-button:hover {
    color: #34ce57;
}

.cancel-button {
    color: #dc3545; /* Red for Cancel */
}

.cancel-button:hover {
    color: #f05353;
}


/* Task item button icons adjustments */
.task-item button {
    padding: 8px;
    border-radius: 50%;
    margin-left: 5px;
    width: auto; 
    height: auto;
}
